<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.LibLog.Fody" version="3.3.1" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="2.3.23" targetFramework="net40" developmentDependency="true" />
  <package id="LibLog" version="4.2.6" targetFramework="net40" developmentDependency="true" />
  <package id="Source.JetBrains.Annotations" version="11.1.1" targetFramework="net40" developmentDependency="true" />
</packages>